<section class="focus-sector pt-5 pb-5">
    <div class="container">

        <!-- <div class="small-border" style="background:white;margin:0"></div> -->
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2>Available Courses</h2>

                </div>
            </div>
        </div>
        <div class="home-community-board__grid-wrapper">

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">&nbsp;Bachelor of Commerce</p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">Bachelor of Science</p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">Masters in Education</p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">&nbsp;&nbsp;Doctor of Philosophy
                    </p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">&nbsp;&nbsp;Bachelor of Arts</p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">&nbsp;Bachelor of Education</p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">Medical Laboratory Technology</p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">&nbsp;Master of Social Work </p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">&nbsp;Bachelor of Science in Information Technology</p>
                </div>
            </div>



            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">&nbsp;&nbsp;Bachelors of Business Administration</p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">Bachelor of Physical Education</p>
                </div>
            </div>


            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">Master of Arts</p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">Master of Science</p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">&nbsp;&nbsp;Bachelors's in Computer Application</p>
                </div>
            </div>


            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">&nbsp;&nbsp;&nbsp;Bachelor of Social Work</p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">&nbsp;&nbsp;&nbsp;Master of Commerce</p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">Primary Teachers Certificate</p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"> Preschool   </p>
                </div>
            </div>





            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">Standard 1 to 5</p>
                </div>
            </div>




            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">Standard 6 to 8</p>
                </div>
            </div>
        </div>



    </div>

</section>