<app-navbar></app-navbar>

<body class="defult-home">
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Learn User Interface and User Experience</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Course Details</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="col-lg-8 md-mb-50">
                        <!-- Intro Info Tabs-->
                        <div class="intro-info-tabs">
                            <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab"
                                        href="#" data-bs-target="#prod-overview" role="tab"
                                        aria-controls="prod-overview" aria-selected="true">English</a>
                                </li>
                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn" id="prod-curriculum-tab" data-bs-toggle="tab" href="#"
                                        data-bs-target="#prod-curriculum" role="tab" aria-controls="prod-curriculum"
                                        aria-selected="false">Gujarati</a>
                                </li>
                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#"
                                        data-bs-target="#prod-instructor" role="tab" aria-controls="prod-instructor"
                                        aria-selected="false">Other</a>
                                </li>
                            </ul>
                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div id="rs-about" class="rs-about style1 pb-100 md-pb-70">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-lg-12 order-last">
                                                                <div class="notice-bord style1" style="margin-top: 5%;">
                                                                    <h4 class="title">English Medium Schools</h4>
                                                                    <ul>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">Charotar English Medium
                                                                                School, Anand
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-266789"> (02692) 266789 </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href=" http://www.cems.ac.in/" target="_blank">  http://www.cems.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-curriculum" role="tabpanel"
                                    aria-labelledby="prod-curriculum-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div id="rs-about" class="rs-about style1 pb-100 md-pb-70">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-lg-12 order-last">
                                                                <div class="notice-bord style1" style="margin-top: 5%;">
                                                                    <h4 class="title">Gujarati Medium Schools</h4>
                                                                    <ul>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">Shishuvihar, Nutan Shishuvihar And Nursary, Anand
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-250864"> (02692) 250864  </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.shishuvihar.ac.in/" target="_blank"> http://www.shishuvihar.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">Ambalal Balshala, Anand
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-243634 "> (02692) 243634 </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.ambs.ac.in/" target="_blank"> http://www.ambs.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">D. N. High School (Std 6 to 8), Anand
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-269060"> (02692) 269060</a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.dnhighschool.ac.in/" target="_blank"> http://www.dnhighschool.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">Kasturba Kanya Vidyalaya (Std 6 to 8), Anand
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-250137"> (02692) 250137 </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.kkv.ac.in/" target="_blank"> http://www.kkv.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">D. N. High School (Std 9 to 12), Anand
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-268940"> (02692) 268940</a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.dnhighschool.ac.in/" target="_blank"> http://www.dnhighschool.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">Kasturba Kanya Vidhyalaya (Std 9 to 12), Anand
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-268940"> (02692) 268940  </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.kkv.ac.in/" target="_blank"> http://www.kkv.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">V. J. Patel Higher Secondary School, Anand
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-250669"> (02692) 250669  </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.vjhs.ac.in/" target="_blank"> http://www.vjhs.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">Sardar Vallabhbhai Patel Shishuvihar and  Balshala, Khetiwadi
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-262904"> (02692) 262904  </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.svpschool.ac.in/" target="_blank"> http://www.svpschool.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">Sardar Vallabhbhai Patel High School (Std 6 to 8), Khetiwadi
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-262436"> (02692) 262436  </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.svpschool.ac.in/" target="_blank"> http://www.svpschool.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">K. M. Patel Balshala and Shishuvihar, Mogri
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-233123"> (02692) 233123  </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.kmbal.ac.in/" target="_blank"> http://www.kmbal.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">Mahatma Gandhi Vidyalaya (Std 6 to 8), Mogri
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-230192"> (02692) 230192  </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.mgvidyalaya.ac.in/" target="_blank"> http://www.mgvidyalaya.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">Mahatma Gandhi Vidyalaya (Std 9 to 12), Mogri
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-230192"> (02692) 230192  </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://www.mgvidyalaya.ac.in/" target="_blank"> http://www.mgvidyalaya.ac.in/ </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-instructor" role="tabpanel"
                                    aria-labelledby="prod-instructor-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div id="rs-about" class="rs-about style1 pb-100 md-pb-70">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-lg-12 order-last">
                                                                <div class="notice-bord style1" style="margin-top: 5%;">
                                                                    <h4 class="title">Other Medium Schools</h4>
                                                                    <ul>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">LRC, Anand
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-266789">  </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href=" http://www.cems.ac.in/" target="_blank">  </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">CES Performing Arts And Fine Arts Academy
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-243083 "> </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://http//www.cesociety.in/lalitkala/index.aspx" target="_blank"> http://http//www.cesociety.in/lalitkala/index.aspx </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                        <li class="wow fadeInUp" data-wow-delay="300ms"
                                                                            data-wow-duration="2000ms">
                                                                            <div class="date"><span>20</span>June</div>
                                                                            <div class="desc">IT Cell
                                                                                <br>
                                                                                <i class="flaticon-call"></i>
                                                                                    <a
                                                                                        href="tel:(02692)-243083 "> (02692)-243083 </a> |
                                                                                        <i class="flaticon-call"></i> <a
                                                                                        href="http://http//www.cesociety.in/itcell/index.aspx" target="_blank"> http://http//www.cesociety.in/itcell/index.aspx </a>
                                                                                       
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-faq" role="tabpanel" aria-labelledby="prod-faq-tab">
                                    <div class="content">
                                        <div id="accordion3" class="accordion-box">
                                            <div class="card accordion block">
                                                <div class="card-header" id="headingSeven">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link acc-btn" data-bs-toggle="collapse"
                                                            data-bs-target="#collapseSeven" aria-expanded="true"
                                                            aria-controls="collapseSeven">UI/ UX Introduction</button>
                                                    </h5>
                                                </div>

                                                <div id="collapseSeven" class="collapse show"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordion3">
                                                    <div class="card-body acc-content current">
                                                        <div class="content">
                                                            <div class="clearfix">
                                                                <div class="pull-left">
                                                                    <a class="popup-videos play-icon"
                                                                        href="https://www.youtube.com/watch?v=atMUy_bPoQI"><i
                                                                            class="fa fa-play"></i>What is UI/ UX
                                                                        Design?</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <div class="minutes">35 Minutes</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <div class="clearfix">
                                                                <div class="pull-left">
                                                                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                                                        class="popup-videos play-icon"><span
                                                                            class="fa fa-play"><i
                                                                                class="ripple"></i></span>What is UI/ UX
                                                                        Design?</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <div class="minutes">35 Minutes</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <div class="clearfix">
                                                                <div class="pull-left">
                                                                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                                                        class="popup-videos play-icon"><span
                                                                            class="fa fa-play"></span>What is UI/ UX
                                                                        Design?</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <div class="minutes">35 Minutes</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card accordion block">
                                                <div class="card-header" id="headingEight">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link acc-btn collapsed"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseEight"
                                                            aria-expanded="false" aria-controls="collapseEight">Color
                                                            Theory</button>
                                                    </h5>
                                                </div>
                                                <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                                                    data-bs-parent="#accordion3">
                                                    <div class="card-body acc-content">
                                                        <div class="content">
                                                            <div class="clearfix">
                                                                <div class="pull-left">
                                                                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                                                        class="popup-videos play-icon"><span
                                                                            class="fa fa-play"></span>What is UI/ UX
                                                                        Design?</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <div class="minutes">35 Minutes</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <div class="clearfix">
                                                                <div class="pull-left">
                                                                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                                                        class="popup-videos play-icon"><span
                                                                            class="fa fa-play"><i
                                                                                class="ripple"></i></span>What is UI/ UX
                                                                        Design?</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <div class="minutes">35 Minutes</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <div class="clearfix">
                                                                <div class="pull-left">
                                                                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                                                        class="popup-videos play-icon"><span
                                                                            class="fa fa-play"></span>What is UI/ UX
                                                                        Design?</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <div class="minutes">35 Minutes</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card accordion block">
                                                <div class="card-header" id="headingNine">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link acc-btn collapsed"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseNine"
                                                            aria-expanded="false" aria-controls="collapseNine">Basic
                                                            Typography</button>
                                                    </h5>
                                                </div>
                                                <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                                                    data-bs-parent="#accordion3">
                                                    <div class="card-body acc-content">
                                                        <div class="content">
                                                            <div class="clearfix">
                                                                <div class="pull-left">
                                                                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                                                        class="popup-videos play-icon"><span
                                                                            class="fa fa-play"></span>What is UI/ UX
                                                                        Design?</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <div class="minutes">35 Minutes</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <div class="clearfix">
                                                                <div class="pull-left">
                                                                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                                                        class="popup-videos play-icon"><span
                                                                            class="fa fa-play"><i
                                                                                class="ripple"></i></span>What is UI/ UX
                                                                        Design?</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <div class="minutes">35 Minutes</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <div class="clearfix">
                                                                <div class="pull-left">
                                                                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                                                        class="popup-videos play-icon"><span
                                                                            class="fa fa-play"></span>What is UI/ UX
                                                                        Design?</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <div class="minutes">35 Minutes</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-reviews" role="tabpanel"
                                    aria-labelledby="prod-reviews-tab">
                                    <div class="content pt-30 pb-30 white-bg">
                                        <div class="cource-review-box mb-30">
                                            <h4>Stephane Smith</h4>
                                            <div class="rating">
                                                <span class="total-rating">4.5</span> <span
                                                    class="fa fa-star"></span><span class="fa fa-star"></span><span
                                                    class="fa fa-star"></span><span class="fa fa-star"></span><span
                                                    class="fa fa-star"></span>&ensp; 256 Reviews
                                            </div>
                                            <div class="text">Phasellus enim magna, varius et commodo ut, ultricies
                                                vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel,
                                                sagittis vel justo. In libero urna, venenatis sit amet ornare non,
                                                suscipit nec risus.</div>
                                            <div class="helpful">Was this review helpful?</div>
                                            <ul class="like-option">
                                                <li><i class="fa fa-thumbs-o-up"></i></li>
                                                <li><i class="fa fa-thumbs-o-down"></i></li>
                                                <li><a class="report" href="#">Report</a></li>
                                            </ul>
                                        </div>
                                        <div class="cource-review-box mb-30">
                                            <h4>Anna Sthesia</h4>
                                            <div class="rating">
                                                <span class="total-rating">4.5</span> <span
                                                    class="fa fa-star"></span><span class="fa fa-star"></span><span
                                                    class="fa fa-star"></span><span class="fa fa-star"></span><span
                                                    class="fa fa-star"></span>&ensp; 256 Reviews
                                            </div>
                                            <div class="text">Phasellus enim magna, varius et commodo ut, ultricies
                                                vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel,
                                                sagittis vel justo. In libero urna, venenatis sit amet ornare non,
                                                suscipit nec risus.</div>
                                            <div class="helpful">Was this review helpful?</div>
                                            <ul class="like-option">
                                                <li><i class="fa fa-thumbs-o-up"></i></li>
                                                <li><i class="fa fa-thumbs-o-down"></i></li>
                                                <li><a class="report" href="#">Report</a></li>
                                            </ul>
                                        </div>
                                        <div class="cource-review-box mb-30">
                                            <h4>Petey Cruiser</h4>
                                            <div class="rating">
                                                <span class="total-rating">4.5</span> <span
                                                    class="fa fa-star"></span><span class="fa fa-star"></span><span
                                                    class="fa fa-star"></span><span class="fa fa-star"></span><span
                                                    class="fa fa-star"></span>&ensp; 256 Reviews
                                            </div>
                                            <div class="text">Phasellus enim magna, varius et commodo ut, ultricies
                                                vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel,
                                                sagittis vel justo. In libero urna, venenatis sit amet ornare non,
                                                suscipit nec risus.</div>
                                            <div class="helpful">Was this review helpful?</div>
                                            <ul class="like-option">
                                                <li><i class="fa fa-thumbs-o-up"></i></li>
                                                <li><i class="fa fa-thumbs-o-down"></i></li>
                                                <li><a class="report" href="#">Report</a></li>
                                            </ul>
                                        </div>
                                        <div class="cource-review-box">
                                            <h4>Rick O'Shea</h4>
                                            <div class="rating">
                                                <span class="total-rating">4.5</span> <span
                                                    class="fa fa-star"></span><span class="fa fa-star"></span><span
                                                    class="fa fa-star"></span><span class="fa fa-star"></span><span
                                                    class="fa fa-star"></span>&ensp; 256 Reviews
                                            </div>
                                            <div class="text">Phasellus enim magna, varius et commodo ut, ultricies
                                                vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel,
                                                sagittis vel justo. In libero urna, venenatis sit amet ornare non,
                                                suscipit nec risus.</div>
                                            <div class="helpful">Was this review helpful?</div>
                                            <ul class="like-option">
                                                <li><i class="fa fa-thumbs-o-up"></i></li>
                                                <li><i class="fa fa-thumbs-o-down"></i></li>
                                                <li><a class="report" href="#">Report</a></li>
                                            </ul>
                                            <a href="#" class="more">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Video Column -->
                    <div class="video-column col-lg-4">
                        <div class="inner-column">
                            <!-- Video Box -->
                            <div class="intro-video media-icon orange-color2">
                                <img class="video-img" src="assets/images/about/about-video-bg2.png" alt="Video Image">
                                <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                                    <i class="fa fa-play"></i>
                                </a>
                                <h4>Preview this course</h4>
                            </div>
                            <!-- End Video Box -->
                            <div class="course-features-info">
                                <ul>
                                    <li class="lectures-feature">
                                        <i class="fa fa-files-o"></i>
                                        <span class="label">Lectures</span>
                                        <span class="value">3</span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <i class="fa fa-puzzle-piece"></i>
                                        <span class="label">Quizzes</span>
                                        <span class="value">0</span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="label">Duration</span>
                                        <span class="value">10 week </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-users"></i>
                                        <span class="label">Students</span>
                                        <span class="value">21</span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-check-square-o"></i>
                                        <span class="label">Assessments</span>
                                        <span class="value">Yes</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-part">
                                <a href="#" class="btn readon2 orange">$35</a>
                                <a href="#" class="btn readon2 orange-transparent">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->

        <!-- Newsletter section start -->
        <div class="rs-newsletter style1 gray-bg orange-color mb--90 sm-mb-0 sm-pb-70">
            <div class="container">
                <div class="newsletter-wrap">
                    <div class="row y-middle">
                        <div class="col-lg-6 col-md-12 md-mb-30">
                            <div class="content-part">
                                <div class="sec-title">
                                    <div class="title-icon md-mb-15">
                                        <img src="assets/images/newsletter.png" alt="images">
                                    </div>
                                    <h2 class="title mb-0 white-color">Subscribe to Newsletter</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <form class="newsletter-form">
                                <input type="email" name="email" placeholder="Enter Your Email" required="">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter section end -->
    </div>


    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>