<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
                    [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide *ngFor="let image of images">
                        <div class="picsum-img-wrapper">
                            <img [src]="image" alt="Random slide">
                        </div>
                        <div class="carousel-caption">
                            <h3>No mouse navigation</h3>
                            <p>This carousel hides navigation arrows and indicators.</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>

        <!-- Banner Section Start -->

        <!-- <div id="rs-banner" class="rs-banner style1">
            <div class="container">
                <div class="banner-content text-center">
                    <h1 class="banner-title capitalize wow fadeInLeft" data-wow-delay="300ms"
                        data-wow-duration="3000ms">Education during COVID-19 moving towards e-learning</h1>
                    <div class="desc mb-35 wow wow fadeInRight" data-wow-delay="900ms" data-wow-duration="3000ms">Every
                        act of conscious learning requires the willingness to <br>suffer an injury to one’s self-esteem
                        during COVID-19.</div>
                    <div class="banner-btn wow fadeInUp" data-wow-delay="1500ms" data-wow-duration="2000ms">
                        <a class="readon banner-style" href="#">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Banner Section End -->

        <!-- About Section Start -->
        <div id="rs-about" class="rs-about style1 pb-100 md-pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 order-last">
                        <div class="notice-bord style1">
                            <h4 class="title">News / Events</h4>
                            <ul>
                                <li class="wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                                    <div class="date"><span>20</span>June</div>
                                    <div class="desc">Lorem Ipsum is simply dummy text of the printing and setting</div>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                                    <div class="date"><span>22</span>Aug</div>
                                    <div class="desc">Lorem Ipsum is simply dummy text of the printing and setting</div>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms">
                                    <div class="date"><span>14</span>May</div>
                                    <div class="desc">Lorem Ipsum is simply dummy text of the printing and setting</div>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="600ms" data-wow-duration="2000ms">
                                    <div class="date"><span>31</span>Sept</div>
                                    <div class="desc">Lorem Ipsum is simply dummy text of the printing and setting</div>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="700ms" data-wow-duration="2000ms">
                                    <div class="date"><span>28</span>Oct</div>
                                    <div class="desc">Lorem Ipsum is simply dummy text of the printing and setting</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 pr-50 md-pr-15">
                        <div class="about-part">
                            <div class="sec-title mb-40">
                                <div class="sub-title primary wow fadeInUp" data-wow-delay="300ms"
                                    data-wow-duration="2000ms">About Charotar Education Society</div>
                                <h2 class="title wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">Welcome
                                    to Charotar Education Society</h2>
                                <div class="desc wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Charotar Education Society, Anand, which was
                                    established on 16th April 1916 by the
                                    "Gem of Charotar" Shri Motibhai Amin Saheb with a view to developing higher
                                    education in the Charotar Pradesh, the region between the Mahi and Vatrak rivers
                                    extending from Vasad to Kheda. The Constitution of the Society was framed by Late
                                    Shri Vithalbhai Patel, the elder brother of Sardar Vallabhabhai Patel, who played an
                                    active role in the preparation of the Indian Constitution. <a
                                        class="card-link collapsed" *ngIf="!readMore" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" href="#" (click)="moreOpen()"
                                        aria-expanded="false">Read More</a>
                                    <div id="accordion" class="accordion">

                                        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the beginning the Society was managed well
                                            by the brothers Shri Ishwarbhai J.
                                            Patel and Late Shri Vithalbhai J. Patel. Shri Ishwarbhai J.Patel had been
                                            the Vice
                                            Chancellor of international universities as well as the Vice Chancellor of
                                            many
                                            universities of Gujarat. Late Shri Vithalbhai J. Patel is in real sense, the
                                            Charotar Education Society is spread over 41 acares of land and has 4 big
                                            campuses
                                            in which K.G. to P.G. education is provided to the needful students. The
                                            society
                                            runs P.T.C., B.Ed., Arts, Commerce and Science degree colleges and has also
                                            started
                                            P.G. self financed courses in Science, Commerce, and Arts.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="sign-part wow fadeInUp" data-wow-delay="600ms" data-wow-duration="2000ms">
                                <div class="img-part">
                                    <img src="assets/images/about/ceo.png" alt="CEO Image">
                                </div>
                                <div class="author-part">
                                    <span class="sign mb-10"><img src="assets/images/about/sign.png" alt="Sign"></span>
                                    <span class="post">CEO & Founder of Educavo</span>
                                </div>
                            </div> -->
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <div class="slide">
                                        <img src="assets/images/partner/1.png">
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="slide">
                                        <img src="assets/images/partner/2.png">
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="slide">
                                        <img src="assets/images/partner/3.png">
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="slide">
                                        <img src="assets/images/partner/4.png">
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="slide">
                                        <img src="assets/images/partner/5.png">
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rs-counter style2-about">
            <div class="container">
                <div class="row couter-area">
                    <div class="col-lg-3 col-md-6 md-mb-30">
                        <div class="counter-item text-center">
                            <h2 class="rs-count">{{projectCount + "+"}}</h2>
                            <h4 class="title mb-0">Finished Sessions</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 md-mb-30">
                        <div class="counter-item text-center">
                            <h2 class="rs-count plus">4523</h2>
                            <h4 class="title mb-0">Enrolled Learners</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 sm-mb-30">
                        <div class="counter-item text-center">
                            <h2 class="rs-count plus">120</h2>
                            <h4 class="title mb-0">Online Instructors</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item text-center">
                            <h2 class="rs-count percent">100</h2>
                            <h4 class="title mb-0">Satisfaction Rate</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->
        <div class="rs-about video-style pt-120 pb-100 md-pt-90 md-pb-70">
            <div class="container relative">
                <div class="icon-shape js-tilt">
                    <img class="shape" src="assets/images/about/icon-shape.png" alt="Icon Shape">
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="img-part media-icon">
                            <img class="video-img" src="assets/images/about/about-video-bg2.png" alt="Video Image">
                            <a class="popup-videos" target="_blank" href="https://youtu.be/4cJ2gsWrWpQ">
                                <i class="fa fa-play"></i>
                            </a>
                            <img class="dot-shape js-tilt" src="assets/images/about/dot-shape.png" alt="Shape">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content gray-bg">
                            <div class="sec-title mb-46 md-mb-30 wow fadeInUp" data-wow-delay="300ms"
                                data-wow-duration="2000ms">
                                <div class="sub-title primary">How We Works</div>
                                <h2 class="title">Develope Your Skills<br>Shine Your Life</h2>
                                <div class="desc pr-30">Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed
                                    eius to mod tempors incididunt ut labore et dolore magna this aliqua enims ad minim.
                                </div>
                            </div>
                            <div class="btn-part wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                                <a class="readon2" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rs-categories" class="rs-categories gray-bg style1 pt-94 pb-70 md-pt-64 md-pb-40">
            <div class="container">
                <div class="row y-middle mb-50 md-mb-30">
                    <div class="col-md-6 sm-mb-30">
                        <div class="sec-title">
                            <div class="sub-title primary">Academic</div>
                            <h2 class="title mb-0">Our Top Categories </h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- <div class="btn-part text-end sm-text-start">
                            <a href="#" class="readon">View All Categories</a>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-30 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                        <a class="categories-item" href="#">
                            <div class="icon-part">
                                <img src="assets/images/categories/icons/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <h4 class="title">Schools</h4>
                                <span class="courses">05 Courses</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-30 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                        <a class="categories-item" href="#">
                            <div class="icon-part">
                                <img src="assets/images/categories/icons/2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h4 class="title">Colleges</h4>
                                <span class="courses">05 Courses</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-30 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms">
                        <a class="categories-item" href="#">
                            <div class="icon-part">
                                <img src="assets/images/categories/icons/3.png" alt="">
                            </div>
                            <div class="content-part">
                                <h4 class="title">Hostels</h4>
                                <span class="courses">05 Courses</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-30 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                        <a class="categories-item" href="#">
                            <div class="icon-part">
                                <img src="assets/images/categories/icons/4.png" alt="">
                            </div>
                            <div class="content-part">
                                <h4 class="title">Others</h4>
                                <span class="courses">05 Courses</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Categories Section End -->
        <!-- Events Section Start -->
        <div class="rs-event modify2 orange-color pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row y-middle mb-50 md-mb-30">
                    <div class="col-md-6 sm-mb-30">
                        <div class="sec-title">
                            <div class="sub-title primary">Global Certificates</div>
                            <h2 class="title mb-0">Certificates</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-part text-end sm-text-start">
                            <a href="#" class="readon">View All Events</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                        <div class="event-item">
                            <div class="event-short">
                                <div class="featured-img">
                                    <img src="assets/images/event/style3/1.jpg" alt="Image">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Spicy Quince And Cranberry Chutney</a></h4>
                                    <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div> -->
                                    <!-- <div class="date-part">
                                        <div class="date">
                                            <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                        </div>
                                    </div>
                                    <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                        <div class="event-item">
                            <div class="event-short">
                                <div class="featured-img">
                                    <img src="assets/images/event/style3/2.jpg" alt="Image">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Persim, Pomegran, And Massag Kale Salad</a></h4>
                                    <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="date-part">
                                        <div class="date">
                                            <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                        </div>
                                    </div>
                                    <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                        <div class="event-item">
                            <div class="event-short">
                                <div class="featured-img">
                                    <img src="assets/images/event/style3/3.jpg" alt="Image">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Essential Fall Fruits That Aren’t Apples</a></h4>
                                    <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="date-part">
                                        <div class="date">
                                            <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                        </div>
                                    </div>
                                    <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 md-mb-30">
                        <div class="event-item">
                            <div class="event-short">
                                <div class="featured-img">
                                    <img src="assets/images/event/style3/4.jpg" alt="Image">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Job Seekers From Overcoming Failure</a></h4>
                                    <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="date-part">
                                        <div class="date">
                                            <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                        </div>
                                    </div>
                                    <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                        <div class="event-item">
                            <div class="event-short">
                                <div class="featured-img">
                                    <img src="assets/images/event/style3/1.jpg" alt="Image">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Spicy Quince And Cranberry Chutney</a></h4>
                                    <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div> -->
                                    <!-- <div class="date-part">
                                        <div class="date">
                                            <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                        </div>
                                    </div>
                                    <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                        <div class="event-item">
                            <div class="event-short">
                                <div class="featured-img">
                                    <img src="assets/images/event/style3/2.jpg" alt="Image">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Persim, Pomegran, And Massag Kale Salad</a></h4>
                                    <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="date-part">
                                        <div class="date">
                                            <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                        </div>
                                    </div>
                                    <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                        <div class="event-item">
                            <div class="event-short">
                                <div class="featured-img">
                                    <img src="assets/images/event/style3/3.jpg" alt="Image">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Essential Fall Fruits That Aren’t Apples</a></h4>
                                    <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="date-part">
                                        <div class="date">
                                            <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                        </div>
                                    </div>
                                    <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 md-mb-30">
                        <div class="event-item">
                            <div class="event-short">
                                <div class="featured-img">
                                    <img src="assets/images/event/style3/4.jpg" alt="Image">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Job Seekers From Overcoming Failure</a></h4>
                                    <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="date-part">
                                        <div class="date">
                                            <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                        </div>
                                    </div>
                                    <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Events Section End -->
        <!-- Popular Courses Section Start -->
        <!-- Categories Section Start -->
 


        <!-- Popular Courses Section End -->
    </div>
    <!-- Main content End -->

    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->

    <!-- Search Modal Start -->
    <div class="modal fade search-modal" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel"
        aria-hidden="true">
        <button type="button" class="close" data-bs-dismiss="modal">
            <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">kgjkgdkugds</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</body>